# Dependencias (¡Nunca subir esto!)
/node_modules

# Archivos de build (compilados)
/dist
/build
/server/public
.next
.vercel

# Archivos de Sistema Operativo (Buena idea, eso es de macOS)
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno (¡Super secreto!)
.env
.env.local
.env.*.local

# Archivos temporales de configuración
vite.config.ts.*

# Archivos comprimidos
*.tar.gz